# Python Basics

Prepared By: Anik Chakraborty (waytoanik@outlook.com)

## Print

In [1]:
# Print statements
a,b=2,4
print (a,'x',a,'=',b)
print(str(a)+'x'+str(a)+'='+str(b))
print ('{1} x {1} = {2}'.format(a,a,b))

2 x 2 = 4
2x2=4
2 x 2 = 4

In [2]:
# Print a list separated by space
a=[2,4, 5, 7]
print(*a)

2 4 5 7

In [3]:
# Print in same line with a separator
for i in range(5):
    print(i, end=',')

0,1,2,3,4,

# Python Data Structure

1. String, objects in set, keys in dictionary, tuples : immutable
2. Set, dictionary, list: mutable

# String

In [4]:
# String slicing
string = 'I have started learning0python'
string[7:14]

'started'

In [5]:
#title function
string.title()

'I Have Started Learning0Python'

In [6]:
#Length
len(string)

30

In [7]:
# Count
string.count('a')

3

In [8]:
# String concat
string_n = string[0]+' '+string[7:14]
string_n

'I started'

In [9]:
# Reverse a string
string_n[::-1]

'detrats I'

In [10]:
n_st= 'i_am9just:doing#this job'
n_st.title()

'I_Am9Just:Doing#This Job'

In [11]:
# String to List
str_li = list(string)
str_li

['I',
 ' ',
 'h',
 'a',
 'v',
 'e',
 ' ',
 's',
 't',
 'a',
 'r',
 't',
 'e',
 'd',
 ' ',
 'l',
 'e',
 'a',
 'r',
 'n',
 'i',
 'n',
 'g',
 '0',
 'p',
 'y',
 't',
 'h',
 'o',
 'n']

In [12]:
# index() returns the first occurance
line = 'I am now learning Python.'
line.index(' ')

1

In [13]:
# 1st occurance of ' ' between mentioned index
line.index(' ',8,12)

8

In [14]:
# First occurance from the right side
line.rindex(' ')

17

In [15]:
line[line.rindex(' ')+1:-1]

'Python'

In [16]:
# chr function
for a in range(65,91):
    print(chr(a), end=',')

A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z,

In [17]:
# ord function
sum=0
for a in 'ANIK':
    sum += ord(a)
sum

291

# Python Collections

# Set

In [18]:
#set: {} :no order so no indexing, unique

In [19]:
# Add to an existing set
st = {50,60}
st.update([22, 2,3,4],{3,4,5,6,7,8})
st

{2, 3, 4, 5, 6, 7, 8, 22, 50, 60}

## Tuple

In [20]:
# Tuple indexing
names = ('Python', 'Data Science', 'Machine Learning','Data Science', True, 1, 0, False)
names[4]

True

In [21]:
# count function: True (bool) is treated as 1, False (bool) as 0
names.count(1)

2

In [22]:
# Length
len(names)

8

In [23]:
# Convert Tuple to a List
namesli = list(names)
type(namesli)

list

In [24]:
namesli

['Python',
 'Data Science',
 'Machine Learning',
 'Data Science',
 True,
 1,
 0,
 False]

## List:

In [25]:
# String to List
string = 'My name is Anik'
st_li = string.split(' ')
st_li

['My', 'name', 'is', 'Anik']

In [26]:
# Multiplying a list results in multiple occurance of the elements (even if all elements are numeric)
list1 =['Anik','Example',2,8,'Data',78,34,True,False,'Python']
print(list1*2)

['Anik', 'Example', 2, 8, 'Data', 78, 34, True, False, 'Python', 'Anik', 'Example', 2, 8, 'Data', 78, 34, True, False, 'Python']

In [27]:
listn =[1,2,3,4]
print(listn*2)

[1, 2, 3, 4, 1, 2, 3, 4]

In [28]:
# List Indexing
list1[4]

'Data'

In [29]:
# List Slicing
list1[:-4:-1]

['Python', False, True]

In [30]:
# Reverse a List
list1[::-1]

['Python', False, True, 34, 78, 'Data', 8, 2, 'Example', 'Anik']

In [31]:
# reverse() does not return anything. It's an inplace operation
list1.reverse()
list1

['Python', False, True, 34, 78, 'Data', 8, 2, 'Example', 'Anik']

In [32]:
list1[:4:1]

['Python', False, True, 34]

In [33]:
# More slicing examples
list1[-1:4:-1][::-1]

['Data', 8, 2, 'Example', 'Anik']

In [34]:
# min() of a list using length as key to measure
li2= ['Anik', 'Example', 'Python']
min(li2, key=len)

'Anik'

In [35]:
# Check if an element is in a list
0 in list1

True

In [36]:
# Though lista and listb contains same elements but they have different memory location 
lista = [1,2,3]
listb = [1,2,3]
listc= lista
listd = lista.copy()
lista is listb

False

In [37]:
# assignment(=) craetes a memory reference, lista and listc shares same memory location
lista is listc

True

In [38]:
# copy() creates a separate object in diffetent memory location
lista is listd

False

In [39]:
list1

['Python', False, True, 34, 78, 'Data', 8, 2, 'Example', 'Anik']

In [40]:
# Delete an element using index position
del list1[3]
list1

['Python', False, True, 78, 'Data', 8, 2, 'Example', 'Anik']

In [41]:
# Remove an element from list using index position and return the removed value
list1.pop(0) #works with index

'Python'

In [42]:
# Removes only first appearance of 'Data'
list1.remove('Data') #First available value
list1

[False, True, 78, 8, 2, 'Example', 'Anik']

In [43]:
# Inserts value ' Data Science' at index position: 3
list1.insert(3,'Data Science')
list1

[False, True, 78, 'Data Science', 8, 2, 'Example', 'Anik']

In [44]:
# Append operation
list1.append([2,5,8])
list1

[False, True, 78, 'Data Science', 8, 2, 'Example', 'Anik', [2, 5, 8]]

In [45]:
# Extend Operation
list1.extend([2,5,8])
list1

[False, True, 78, 'Data Science', 8, 2, 'Example', 'Anik', [2, 5, 8], 2, 5, 8]

In [46]:
# sort() does not return anything, it's an inplace operation
listn = [88,2,90,56,78,1,0,8]
listn.sort()  #inplace
listn

[0, 1, 2, 8, 56, 78, 88, 90]

In [47]:
# sort() Descending
listn.sort(reverse= True)
listn

[90, 88, 78, 56, 8, 2, 1, 0]

In [48]:
#  sorted() returns sorted list
listn = [88,2,90,56,78,1,0,8]
listn_sorted = sorted(listn) #return sorted list
listn_sorted

[0, 1, 2, 8, 56, 78, 88, 90]

In [49]:
#Shallow/Deep copy

original_list=[0, 0, 0]

copy1=original_list
copy2=list(original_list)
copy3=list.copy(original_list)
copy4= original_list.copy()
copy5= original_list[:]

original_list[0] = 1
print(id(original_list))
print(id(copy1))
print(id(copy2))
print(id(copy3))
print(id(copy4))
print(id(copy5))

1881112675712
1881112675712
1881112720256
1881112698112
1881112652800
1881112224448

In [50]:
# List to String
a =[1,9,0,8]
' '.join((map(str,a)))

'1 9 0 8'

In [51]:
a =['I','Love','Python']
' '.join(a)

'I Love Python'

## Dictionary:

In [52]:
# Dictionary
thisdict = {
  "brand": ["Ford","Anik"],
  "model": ["Mustang","Demo"],
  "year": [1964,1990]
}
for items in thisdict:
    print(items, thisdict[items])

brand ['Ford', 'Anik']
model ['Mustang', 'Demo']
year [1964, 1990]

In [53]:
# Get all keys
thisdict.keys()

dict_keys(['brand', 'model', 'year'])

In [54]:
# Dictionary Indexing
thisdict['brand'][1]

'Anik'

In [55]:
# Update a value in dictionary
thisdict['brand'][1] = 'Changed'
thisdict

{'brand': ['Ford', 'Changed'],
 'model': ['Mustang', 'Demo'],
 'year': [1964, 1990]}

In [56]:
# Get Keys, values, items
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}


print(thisdict.keys())
print(thisdict.values())
print(thisdict.items())

dict_keys(['brand', 'model', 'year'])
dict_values(['Ford', 'Mustang', 1964])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [57]:
# Update multiple keys with new value
thisdict.update({"year": 2020, "model": "Demo"})
print(thisdict)

{'brand': 'Ford', 'model': 'Demo', 'year': 2020}

In [58]:
# If 'doors' key is not present in dictionary it will return 'Not Present'
thisdict.get('doors','Not Present')

'Not Present'

In [59]:
# Update
thisdict['brand'] = 'Test'
print(thisdict)

{'brand': 'Test', 'model': 'Demo', 'year': 2020}

In [60]:
# Add a new key and value
thisdict.update({"color": "red"})
print(thisdict)

{'brand': 'Test', 'model': 'Demo', 'year': 2020, 'color': 'red'}

In [61]:
print(thisdict)

{'brand': 'Test', 'model': 'Demo', 'year': 2020, 'color': 'red'}

In [62]:
# Another way to update existing keys or adding new keys and values
thisdict.update(a=4, b=2)
thisdict

{'brand': 'Test',
 'model': 'Demo',
 'year': 2020,
 'color': 'red',
 'a': 4,
 'b': 2}

In [63]:
thisdict.update(a=2, model= 'NEW')
thisdict

{'brand': 'Test', 'model': 'NEW', 'year': 2020, 'color': 'red', 'a': 2, 'b': 2}

In [64]:
# returns the value of the key and removes the key:value pair
thisdict.pop('a')

2

In [65]:
thisdict.pop('year')

2020

In [66]:
thisdict

{'brand': 'Test', 'model': 'NEW', 'color': 'red', 'b': 2}

In [67]:
thisdict.update(color= ['red','green','yellow'])
thisdict

{'brand': 'Test', 'model': 'NEW', 'color': ['red', 'green', 'yellow'], 'b': 2}

In [68]:
# Removing one element from the list value of key 'color'
del thisdict['color'][0]
print(thisdict)

{'brand': 'Test', 'model': 'NEW', 'color': ['green', 'yellow'], 'b': 2}

## Loop

In [69]:
# For Loop
for i in range(10,20,2): # by default end is newline
    print(i, end='.')

10.12.14.16.18.

In [70]:
# zip function
l1= [1,2,3,4,5]
l2= ['A','B','C','D','E']
for i,j in zip(l1,l2):
    print(i,':',j)

1 : A
2 : B
3 : C
4 : D
5 : E

In [71]:
# List Comprehension
listn= [i*i if i%2==0 else 0 for i in range(10)]
listn

[0, 0, 4, 0, 16, 0, 36, 0, 64, 0]

In [72]:
# While Loop
i,op= 1,True
while i <= 9 and op == True:
    print('interation: ',i)
    if i % 3 ==0:
        print('> perform task')
    elif i==8:
        op= False
    i += 1

interation:  1
interation:  2
interation:  3
> perform task
interation:  4
interation:  5
interation:  6
> perform task
interation:  7
interation:  8

In [73]:
# Loop through a string
string = 'Anik Chakraborty'
for letters in string:
    print(letters, end=':')

A:n:i:k: :C:h:a:k:r:a:b:o:r:t:y:

In [74]:
#Loop through a dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for key, val in thisdict.items():
    print(key,val)

brand Ford
model Mustang
year 1964

In [75]:
# Loop through a set
d = {'item1': 'Fish', 'item2': 'Bird', 'item3': 'Mammal'}
for i in d:
    print(i)

item1
item2
item3

# Comprehensions

In [76]:
# List Comprehension
l1 = ['anik', 'test','lenovo','python']
l2 = [len(word) for word in l1]
l2

[4, 4, 6, 6]

In [77]:
# List Comprehension
list1 = [n*6 if n%2==0 else n*5 for n in range(1,11)]
list1

[5, 12, 15, 24, 25, 36, 35, 48, 45, 60]

In [78]:
# Dictionary Comprehension
d = {word:len(word) for word in l1}
d

{'anik': 4, 'test': 4, 'lenovo': 6, 'python': 6}

In [79]:
# Dictionary Comprehension
input= 'Anik'
vow_set = {letters for letters in input if letters.lower() in 'aeiou'}
vow_set

{'A', 'i'}

In [80]:
# Print in loop
print([i+j for i in "abc" for j in "def"])

['ad', 'ae', 'af', 'bd', 'be', 'bf', 'cd', 'ce', 'cf']

In [81]:
# Nested Loop Comprehension
a = [[1,2,3],[4],[5,6],[7,8]]
[y for x in a for y in x]

[1, 2, 3, 4, 5, 6, 7, 8]

# Function

In [82]:
#user defined functions
#def
#lambda

In [83]:
# Function
def squared(a,b):
    return(a**b)
print(squared(5,6))

15625

In [84]:
#default value for b=24 if user does not pass the b argument.
def squared(a,b=34):
    return(a**b)
print(squared(5,1))
print(squared(5))

5
582076609134674072265625

In [85]:
#*args in function definitions in python is used to pass a variable number of arguments to a function
def var_func(*args):  
    print(args[1])
    
var_func('Welcome', 'to', 'Python', 'Basic')

to

In [86]:
#**kwargs is used to pass a keyworded, variable-length argument list.
def myFun(**kwargs):  
    for key, value in kwargs.items(): 
        print ("%s = %s" %(key, value)) 
       
myFun(first ='Python', mid ='Beginners', last='Data Science')

first = Python
mid = Beginners
last = Data Science

In [87]:
#**kwargs is used to pass a keyworded, variable-length argument list.
def myFun1(**kwargs):  
        print (kwargs['first']) 
       
myFun1(first ='Python', mid ='Beginners', last='Data Science')

Python

In [88]:
# Call a function from another function
def func(x, y = 1):
    z = x * y + x + y
    return z

func(2, func(3))

23

In [89]:
def func(x = 1, y = 2):
    z = x * y + x + y
    return z

func(2, func(3))

35

In [90]:
#lambda fucstions are unnamed functions, can be store in avariable as a function object
f = lambda x: 'even' if x%2==0 else 'odd'
f(10)

'even'

In [91]:
min = (lambda x, y: x if x < y else y)
min(101*99, 102*98)

9996

# map - filter - reduce

In [92]:
# Map function return map object, which is an iterator
countries=['India','japan','UsA','China']
lf = lambda x: x.upper()
a= map(lf,countries)
a

In [93]:
# Converting iterator to a list
list(a)

['INDIA', 'JAPAN', 'USA', 'CHINA']

In [94]:
# More examples of map
def multi(x):
    return x*2

list_numbers = [1,2,3,4]
sample_map = map(multi, list_numbers)

print(list(sample_map))

[2, 4, 6, 8]

In [95]:
# filter function returns a filter object which is an iterator
mylist =[2,3,4,5,6,7,8]
div_by3 = lambda x: x%3==0
fil =filter(div_by3, mylist)
fil

In [96]:
# Converting iterator to a list
list(fil)

[3, 6]

In [97]:
# More example of filter
students_data = {1:['Sam', 15] , 2:['Rob',18], 3:['Kyle', 16], 4:['Cornor',19], 5:['Trump',20]}

len(list(filter(lambda x : x[1] > 18, students_data.values())))

2

In [98]:
# reduce function
from functools import reduce

list_1 = ['Paul','Ted']
reduce(lambda x,y: x + y,list_1)

'PaulTed'

In [99]:
# words from list starts with 'p' and endswith 's'

input_list= ['Anik','photos','python','news']
sp = list(filter(lambda x:x[0]=='p' and x[-1]=='s',input_list))
print(sp)

['photos']

In [100]:
# Using the Reduce function, concatenate a list of words
input_list = ['I','Love','Machine','Learning']
from functools import reduce
sp = reduce(lambda x,y: x+' '+y, input_list)
print(sp)

I Love Machine Learning

In [101]:
# Initialize reduce function with a value (here it's 5)
reduce(lambda x, y: x+y, [1,2,3], 5) #% is initialization value

11

### Named Tuple

In [102]:
# namedtuple() 
      
from collections import namedtuple 
      
# Declaring 
employee= namedtuple('Employee', ['name','gender','age'])  
      
# Adding values  
E= employee('Anik','M','30')  
      
# Accessing using Index 
print ("Age : ",end ="")  
print (E[2])  
      
# Accessing using Name   
print ("Name : ",end ="")  
print (E.name)
print(E)

Age : 30
Name : Anik
Employee(name='Anik', gender='M', age='30')

## Pattern Printing

In [103]:
for i in range(-5,6):
    print(abs(i)*' '+ abs((abs(i)-5))*'*'+abs((abs(i)-6))*'*')

     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

Try to understand above logic, it will help to print any related patterns.